Repository nikkeyl/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "src/scss/**/*.scss": "stylelint --fix",
  "src/js/**/*.js": "eslint --fix"
}

Update README.md
  README.md
Due: none

add: Typed.js
  src/js/app.js
  src/js/vendors/Typed.js
  src/scss/base/typography.scss
Due: stylelint --fix, eslint --fix

refactor: Optimize code
  src/index.pug
  src/js/vendors/Typed.js
  src/scss/pages/home.scss
  src/views/components/preloader.pug
Due: stylelint --fix, eslint --fix

update: Dependencies
  package-lock.json
  package.json
Due: none

refactor: Add const header
  src/js/helpers/goToBlock.js
  src/js/helpers/nodeList.js
  src/js/modules/fullScreenFix.js
Due: eslint --fix

refactor: Typed
  src/js/vendors/Typed.js
  src/scss/pages/home.scss
Due: stylelint --fix, eslint --fix

refactor: move swiper-bullets in swiper.scss
  src/scss/pages/home.scss
  src/scss/vendors/swiper.scss
Due: stylelint --fix

fix: preloader
  src/index.pug
  src/views/components/preloader.pug
Due: none

refactor: Add style guide
  src/index.pug
  src/views/components/popup.pug
  src/views/layout/header.pug
  src/views/layout/layout.pug
Due: none

refactor: Remove extra properties
  src/scss/components/spoilers.scss
Due: stylelint --fix

refactor: Remove extra code
  src/js/modules/addLoadedClass.js
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/index.scss
  src/scss/components/project-card.scss
  src/scss/components/socials.scss
  src/scss/layout/footer.scss
  src/scss/layout/header.scss
  src/scss/utils/bg-overlay.scss
Due: stylelint --fix, eslint --fix

fix: Everything
  config/gulp-tasks/fonts.js
  src/views/components/preloader.pug
Due: none

refactor: everything
  .eslintignore
  gulpfile.js
  package-lock.json
  package.json
  src/index.pug
  src/js/app.js
  src/js/modules/customCursor.js
  src/js/vendors/LazyLoad.js
  src/js/vendors/Swiper.js
  src/scss/base/reset.scss
  src/scss/base/typography.scss
  src/scss/utils/cursor.scss
  src/scss/utils/index.scss
Due: stylelint --fix, eslint --fix

refactor: move all styles to typography.scss
  src/scss/base/reset.scss
  src/scss/base/typography.scss
Due: stylelint --fix

refactor: everything
  src/scss/base/typography.scss
  src/scss/utils/cursor.scss
  src/scss/utils/index.scss
Due: stylelint --fix

refactor: Remove quicky-starter's link
  README.md
Due: none

refactor: Remove quicky-starter's link
  src/views/json/repos.json
Due: none

refactor: init script
  package.json
Due: none

refactor: add a11y in svg sprites
  config/gulp-tasks/sprite.js
  src/img/icons/sprite.svg
Due: none

fix and change colors
  src/index.pug
  src/js/vendors/Swiper.js
  src/scss/base/typography.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/spoilers.scss
  src/scss/layout/footer.scss
  src/scss/layout/header.scss
  src/scss/pages/home.scss
  src/scss/utils/placeholders.scss
  src/views/layout/header.pug
Due: stylelint --fix, eslint --fix

refactor: remove extra items
  src/views/json/repos.json
Due: none

add: a11y.svg
  src/img/svg/a11y.svg
  src/views/json/skills.json
Due: none

refactor: add aria-label in links
  src/index.pug
  src/views/layout/header.pug
Due: none

refactor: rename key 'name'
  src/views/json/skills.json
Due: none

fix: everything
  config/gulp-tasks/fonts.js
  src/index.pug
  src/js/modules/fullScreenFix.js
  src/js/vendors/Swiper.js
  src/scss/base/font-face.scss
  src/scss/utils/fullscreen.scss
  src/views/json/repos.json
  src/views/json/reviews.json
Due: stylelint --fix, eslint --fix

fix: a11y
  src/index.pug
  src/views/json/reviews.json
  src/views/layout/header.pug
Due: none

refactor: change color
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/popup.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/spoilers.scss
  src/scss/layout/header.scss
  src/scss/pages/home.scss
  src/scss/utils/index.scss
  src/scss/utils/placeholders.scss
  src/scss/vendors/swiper.scss
Due: stylelint --fix

docs: remove unused
  CHANGELOG.md
  CONTRIBUTING.md
  SECURITY.md
Due: none

refactor: change stats color
  src/index.pug
  src/scss/pages/home.scss
Due: stylelint --fix

fix: link and title in readme stats card
  src/index.pug
  src/scss/components/project-card.scss
Due: stylelint --fix

fix: everything
  config/gulp-tasks/fonts.js
  src/index.pug
  src/js/app.js
  src/js/modules/FullPage.js
  src/js/vendors/Swiper.js
  src/scss/base/font-face.scss
  src/scss/components/review.scss
  src/scss/pages/home.scss
  src/scss/utils/full-page.scss
  src/scss/utils/index.scss
  src/scss/vendors/swiper.scss
Due: stylelint --fix, eslint --fix

refactor: fonts.js
  config/gulp-tasks/fonts.js
Due: none

fix: everything
  README.md
  src/index.pug
  src/scss/base/font-face.scss
  src/views/json/repos.json
Due: stylelint --fix

refactor
  src/scss/components/review.scss
Due: stylelint --fix

update fonts.js
  config/gulp-tasks/fonts.js
Due: none

refactor: add full description
  src/views/json/repos.json
Due: none
