Repository nikkeyl/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "src/scss/**/*.scss": "stylelint --fix",
  "src/js/**/*.js": "eslint --fix"
}

Update README.md
  README.md
Due: none

update
  src/img/svg/skills/babel.svg
  src/js/app.js
  src/js/components/spoilers.js
  src/js/helpers/slideDown.js
  src/js/helpers/slideUp.js
  src/js/modules/addLoadedClass.js
  src/js/modules/currentYear.js
  src/js/modules/getCurrentYear.js
  src/js/vendors/Swiper.js
  src/js/vendors/tippy.js
  src/scss/abstracts/mixins.scss
  src/scss/abstracts/variables.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/layout/footer.scss
  src/scss/layout/header.scss
  src/scss/pages/404.scss
  src/scss/pages/home/about-me.scss
  src/scss/pages/home/hero.scss
  src/scss/themes/index.scss
  src/scss/themes/switcher.scss
  src/scss/utilities/bg-overlay.scss
  src/scss/utilities/broken-glass.scss
  src/scss/utilities/cursor.scss
  src/scss/utilities/fullscreen.scss
  src/scss/utilities/placeholders.scss
  src/scss/utilities/transitions.scss
  src/scss/vendors/simplebar.scss
  src/scss/vendors/swiper.scss
  src/scss/vendors/tippy.scss
  src/views/components/preloader.pug
  src/views/index.pug
  src/views/layout/header.pug
Due: stylelint --fix, eslint --fix

update
  src/js/app.js
  src/js/modules/setEvent.js
  src/scss/abstracts/mixins.scss
  src/scss/pages/404.scss
  src/views/components/preloader.pug
  src/views/data/skills.json
Due: stylelint --fix, eslint --fix

update
  src/fonts/Creepster-Regular.woff2
  src/img/events/halloween/happy-halloween.jpg
  src/img/events/halloween/house.jpg
  src/img/svg/halloween/bones.svg
  src/img/svg/halloween/eye.svg
  src/img/svg/halloween/glass.svg
  src/img/svg/halloween/gravestone.svg
  src/img/svg/halloween/hat.svg
  src/js/vendors/Typed.js
  src/scss/abstracts/mixins.scss
  src/scss/abstracts/variables.scss
  src/scss/base/font-faces.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/layout/header.scss
  src/scss/pages/404.scss
  src/scss/pages/home/about-me.scss
  src/scss/themes/halloween.scss
  src/scss/themes/index.scss
  src/scss/themes/new-year.scss
  src/scss/themes/switcher.scss
  src/scss/utilities/bg-event.scss
  src/scss/utilities/bg-image.scss
  src/scss/utilities/bg-overlay.scss
  src/scss/utilities/bg-spare.scss
  src/scss/utilities/broken-glass.scss
  src/scss/utilities/index.scss
  src/scss/utilities/overflow.scss
  src/scss/utilities/placeholders.scss
  src/views/404.pug
  src/views/index.pug
  src/views/layout/layout.pug
Due: stylelint --fix, eslint --fix

update
  src/views/components/preloader.pug
Due: none

update
  src/img/favicons/new-year.ico
  src/js/modules/setEvent.js
  src/scss/abstracts/mixins.scss
  src/scss/abstracts/variables.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/components/project-card.scss
  src/scss/components/socials.scss
  src/scss/pages/404.scss
  src/scss/pages/home/hero.scss
  src/scss/utilities/fullscreen.scss
  src/scss/vendors/tippy.scss
  src/views/404.pug
  src/views/layout/layout.pug
Due: stylelint --fix, eslint --fix

update
  src/js/vendors/tippy.js
  src/scss/base/reset.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/layout/header.scss
  src/scss/pages/404.scss
  src/scss/pages/home/about-me.scss
  src/scss/pages/home/hero.scss
  src/scss/themes/switcher.scss
  src/scss/utilities/bg-overlay.scss
  src/scss/utilities/cursor.scss
  src/scss/utilities/fullscreen.scss
  src/views/index.pug
Due: stylelint --fix, eslint --fix

update
  src/scss/layout/header.scss
  src/scss/utilities/placeholders.scss
Due: stylelint --fix

update
  src/scss/components/socials.scss
  src/scss/layout/header.scss
  src/scss/utilities/fullscreen.scss
  src/scss/utilities/placeholders.scss
Due: stylelint --fix

update
  src/scss/abstracts/variables.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/layout/header.scss
  src/scss/pages/home/hero.scss
  src/scss/pages/home/reviews.scss
  src/scss/utilities/bg-overlay.scss
  src/scss/utilities/index.scss
  src/scss/utilities/paddings.scss
  src/views/components/popup.pug
  src/views/index.pug
  src/views/layout/header.pug
Due: stylelint --fix

update
  src/scss/abstracts/variables.scss
  src/scss/base/reset.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/layout/header.scss
  src/scss/themes/halloween.scss
  src/scss/themes/new-year.scss
  src/scss/utilities/paddings.scss
  src/scss/utilities/placeholders.scss
  src/scss/vendors/tippy.scss
  src/views/components/popup.pug
  src/views/index.pug
  src/views/layout/header.pug
Due: stylelint --fix

update
  src/img/projects/aster.jpg
  src/img/projects/noiceland.jpg
  src/js/vendors/tippy.js
  src/scss/abstracts/variables.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/pages/home/hero.scss
  src/scss/themes/switcher.scss
  src/scss/utilities/bg-overlay.scss
  src/scss/utilities/fullscreen.scss
  src/scss/utilities/placeholders.scss
  src/scss/utilities/transitions.scss
  src/scss/vendors/swiper.scss
Due: stylelint --fix, eslint --fix

refactor(styles): remove unnecessary
  src/scss/abstracts/functions.scss
  src/scss/abstracts/mixins.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/pages/404.scss
  src/scss/pages/home/about-me.scss
  src/scss/pages/home/hero.scss
  src/scss/pages/home/index.scss
  src/scss/pages/home/portfolio.scss
  src/scss/themes/dark.scss
  src/scss/themes/switcher.scss
  src/scss/utilities/fullscreen.scss
  src/scss/utilities/page.scss
  src/scss/vendors/tippy.scss
  src/views/index.pug
  src/views/layout/layout.pug
Due: stylelint --fix

docs: update README.md
  README.md
Due: none

refactor: add new tool
  README.md
Due: none

update dependencies
  package-lock.json
Due: none

update files
  src/js/app.js
  src/js/vendors/marquee.js
  src/scss/abstracts/mixins.scss
  src/scss/pages/home/tools.scss
  src/scss/utilities/gap.scss
  src/views/404.pug
  src/views/index.pug
  src/views/layout/layout.pug
Due: stylelint --fix, eslint --fix

revert
  project.config.js
  src/fonts/Pacifico-Regular.woff2
  src/js/helpers/nodeList.js
  src/js/main.js
  src/js/modules/getCurrentYear.js
  src/js/modules/setEvent.js
  src/js/vendors/tippy.js
  src/scss/abstracts/variables.scss
  src/scss/base/font-faces.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/themes/index.scss
  src/scss/themes/new-year.scss
  src/scss/themes/switcher.scss
  src/scss/themes/xmas.scss
  src/scss/utilities/bg-overlay.scss
  src/scss/utilities/placeholders.scss
  src/views/layout/header.pug
Due: stylelint --fix, eslint --fix

backup
  src/scss/abstracts/variables.scss
  src/scss/base/reset.scss
  src/scss/themes/xmas.scss
Due: stylelint --fix

backup remove comment
  src/scss/pages/home/hero.scss
Due: stylelint --fix

update images
  src/img/projects/car-dealership.jpg
  src/img/projects/deep.jpg
  src/img/projects/saimon.jpg
  src/img/svg/tools/bem.svg
  src/js/components/Popup.js
  src/js/components/spoilers.js
  src/js/helpers/isMobile.js
  src/js/modules/customCursor.js
  src/js/modules/scroll/Watcher.js
  src/js/vendors/SimpleBar.js
  src/scss/utilities/cursor.scss
  src/views/index.pug
Due: stylelint --fix, eslint --fix

docs: add new project
  README.md
Due: none

refactor: preloader
  src/js/components/Popup.js
  src/views/components/popup.pug
  src/views/components/preloader.pug
  src/views/index.pug
  src/views/layout/layout.pug
Due: eslint --fix

refactor: add property
  src/scss/components/popup.scss
Due: stylelint --fix

refactor: remove unused popup
  src/img/sprite/info.svg
  src/js/components/Popup.js
  src/js/main.js
  src/scss/components/button.scss
  src/scss/components/forms/index.scss
  src/scss/components/index.scss
  src/scss/components/popup.scss
  src/scss/components/spoilers.scss
  src/views/404.pug
  src/views/components/popup.pug
  src/views/components/preloader.pug
  src/views/data/spoilers.json
  src/views/index.pug
  src/views/layout/layout.pug
Due: stylelint --fix, eslint --fix

refactor: remove item
  src/img/icons/sprite.svg
Due: none

cleanup
  src/js/helpers/bodyLockToggle.js
  src/js/helpers/nodeList.js
  src/js/helpers/uniqArray.js
  src/scss/utilities/bg-overlay.scss
  src/scss/utilities/index.scss
  src/views/layout/header.pug
Due: stylelint --fix, eslint --fix

refactor: remove extra code
  src/scss/abstracts/mixins.scss
  src/scss/components/review.scss
  src/scss/components/spoilers.scss
  src/scss/pages/home/tools.scss
  src/scss/themes/switcher.scss
  src/views/index.pug
  src/views/layout/footer.pug
Due: stylelint --fix

refactor: remove unused css code
  src/js/main.js
  src/js/vendors/Typed.js
  src/scss/abstracts/variables.scss
  src/scss/base/root.scss
  src/scss/components/socials.scss
  src/scss/pages/home/about-me.scss
  src/scss/themes/xmas.scss
  src/scss/vendors/tippy.scss
  src/views/index.pug
Due: stylelint --fix, eslint --fix

refactor: add new dates
  src/js/modules/setEvent.js
Due: eslint --fix

refactor: scss
  src/img/favicons/xmas.ico
  src/scss/abstracts/variables.scss
  src/scss/base/font-faces.scss
  src/scss/base/root.scss
  src/scss/components/button.scss
  src/scss/utilities/placeholders.scss
Due: stylelint --fix

fix: button
  src/scss/components/button.scss
Due: stylelint --fix

fix: image height
  src/js/modules/setEvent.js
  src/scss/abstracts/variables.scss
  src/scss/components/button.scss
  src/scss/components/project-card.scss
  src/scss/pages/home/about-me.scss
Due: stylelint --fix, eslint --fix
