Repository nikkeyl/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "src/scss/**/*.scss": "stylelint --fix",
  "src/js/**/*.js": "eslint --fix"
}

translate to English and change font
  src/fonts/NotoSans-Bold.ttf
  src/fonts/NotoSans-Medium.ttf
  src/fonts/NotoSans-Regular.ttf
  src/fonts/Roboto-Bold.woff2
  src/fonts/Roboto-Medium.woff2
  src/fonts/Roboto-Regular.woff2
  src/index.pug
  src/js/vendors/LazyLoad.js
  src/js/vendors/Typed.js
  src/scss/base/font-face.scss
  src/scss/base/root.scss
  src/views/components/popup.pug
  src/views/json/projects.json
  src/views/json/repos.json
  src/views/json/reviews.json
  src/views/json/skills.json
  src/views/json/socials.json
  src/views/json/spoilers.json
  src/views/layout/footer.pug
  src/views/layout/header.pug
Due: stylelint --fix, eslint --fix

refactor: add best-practices
  src/index.pug
  src/js/app.js
  src/js/modules/addTouchClass.js
  src/js/modules/fullScreenFix.js
  src/scss/abstracts/mixins.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/layout/footer.scss
  src/scss/layout/header.scss
  src/scss/pages/home.scss
  src/scss/utils/bg-overlay.scss
  src/scss/utils/cursor.scss
  src/scss/utils/fullscreen.scss
  src/scss/utils/sr-only.scss
  src/scss/vendors/swiper.scss
  src/scss/vendors/tippy.scss
  src/views/layout/header.pug
Due: stylelint --fix, eslint --fix

fix: fullscreen
  src/scss/utils/fullscreen.scss
Due: stylelint --fix

refactor: prevents chain scroll
  src/scss/utils/lock.scss
Due: stylelint --fix

Update README.md
  README.md
Due: none

update files
  src/img/svg/postcss.svg
  src/js/app.js
  src/js/modules/FullPage.js
  src/scss/utils/bg-overlay.scss
  src/scss/utils/full-page.scss
  src/scss/utils/index.scss
  src/scss/utils/wrapper.scss
  src/views/json/skills.json
Due: stylelint --fix, eslint --fix

update
  src/img/svg/json.svg
  src/img/svg/yaml.svg
  src/index.pug
  src/js/app.js
  src/js/helpers/goToBlock.js
  src/js/modules/scroll/pageNavigation.js
  src/js/script.js
  src/scss/base/index.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/forms/index.scss
  src/scss/components/index.scss
  src/scss/components/project-card.scss
  src/scss/layout/footer.scss
  src/scss/layout/index.scss
  src/scss/pages/home.scss
  src/scss/utils/bg-image.scss
  src/scss/utils/bg-overlay.scss
  src/scss/utils/index.scss
  src/views/json/skills.json
  src/views/layout/header.pug
Due: stylelint --fix, eslint --fix

update dependencies
  .gitattributes
  package-lock.json
Due: none

update
  .csscomb.json
  .ecrc
  .eslintignore
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/editorconfig.yml
  .github/workflows/eslint.yml
  .github/workflows/markdown.yml
  .github/workflows/stylelint.yml
  .stylelintrc.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  config/gulp-tasks/css.js
  config/gulp-tasks/fonts.js
  config/gulp-tasks/html.js
  config/gulp-tasks/images.js
  config/gulp-tasks/jsDev.js
  config/gulp-tasks/jsProd.js
  config/gulp-tasks/sprite.js
  config/settings/paths.js
  config/settings/plugins.js
  config/utilities/catchErrors.js
  config/utilities/deploy.js
  config/utilities/linters.js
  config/utilities/reset.js
  config/utilities/validators.js
  config/utilities/zip.js
  config/utils/deploy.js
  config/utils/validators.js
  config/utils/zip.js
  config/webpack/plugins/pugPages.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  gulpfile.js
  package-lock.json
  package.json
  src/scss/components/project-card.scss
  src/views/index.pug
Due: stylelint --fix

fix
  CONTRIBUTING.md
Due: none

update
  src/scss/base/reset.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/components/review.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/pages/home.scss
  src/scss/utils/bg-overlay.scss
  src/scss/utils/container.scss
  src/scss/utils/cursor.scss
Due: stylelint --fix

update
  .eslintignore
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  package-lock.json
  package.json
  src/img/svg/bash.svg
  src/js/app.js
  src/js/vendors/LazyLoad.js
  src/scss/base/typography.scss
  src/scss/layout/grid.scss
  src/scss/pages/home.scss
  src/views/index.pug
  src/views/json/repos.json
  src/views/json/skills.json
Due: stylelint --fix, eslint --fix

update
  .vscode/jade.code-snippets
  .vscode/javascript.code-snippets
  .vscode/json.code-snippets
  .vscode/scss.code-snippets
  .vscode/settings.json
  README.md
  config/gulp-tasks/fonts.js
  config/settings/paths.js
  package-lock.json
  src/img/svg/postcss.svg
  src/scss/abstracts/functions.scss
  src/scss/abstracts/mixins.scss
  src/scss/base/reset.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/layout/footer.scss
  src/scss/layout/grid.scss
  src/scss/layout/header.scss
  src/scss/pages/home.scss
  src/scss/utils/bg-overlay.scss
  src/scss/utils/container.scss
  src/scss/utils/cursor.scss
  src/scss/vendors/swiper.scss
  src/scss/vendors/tippy.scss
  src/views/json/skills.json
Due: stylelint --fix

fix README.md
  README.md
Due: none

update
  .nvmrc
  .stylelintrc.json
  .vscode/scss.code-snippets
  config/gulp-tasks/fonts.js
  src/js/helpers/bodyLockToggle.js
  src/js/helpers/nodeList.js
  src/js/vendors/SimpleBar.js
  src/js/vendors/Swiper.js
  src/js/vendors/marquee.js
  src/js/vendors/tippy.js
  src/scss/abstracts/mixins.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/utils/fullscreen.scss
Due: stylelint --fix, eslint --fix

update
  .stylelintrc.json
  config/gulp-tasks/css.js
  config/gulp-tasks/fonts-tasks/fontConverter.js
  config/gulp-tasks/fonts-tasks/fontFaceTemplate.js
  config/gulp-tasks/fonts-tasks/fontsStyles.js
  config/gulp-tasks/fonts-tasks/otfToTtf.js
  config/gulp-tasks/fonts-tasks/ttfToWoff2.js
  config/gulp-tasks/fonts.js
  config/gulp-tasks/html.js
  config/gulp-tasks/images.js
  config/gulp-tasks/jsDev.js
  config/gulp-tasks/jsProd.js
  config/gulp-tasks/sprite.js
  config/settings/paths.js
  config/settings/plugins.js
  config/utilities/Logger.js
  config/utilities/catchErrors.js
  config/utilities/deploy.js
  config/utilities/jsFormatConfig.js
  config/utilities/reset.js
  config/utilities/zip.js
  config/webpack/plugins/linters.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  gulpfile.js
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/project-card.scss
  src/scss/components/socials.scss
  src/views/index.pug
Due: stylelint --fix

update
  package-lock.json
  package.json
Due: none

update
  .ecrc
  .eslintignore
  .eslintrc.json
  .gitattributes
  .github/workflows/editorconfig.yml
  .github/workflows/eslint.yml
  .github/workflows/markdown.yml
  .github/workflows/stylelint.yml
  .prettierrc.json
  .stylelintignore
  config/helpers/Logger.js
  config/utilities/zip.js
  gulpfile.js
  package.json
  src/fonts/Roboto-Bold.otf
  src/fonts/Roboto-Bold.ttf
  src/js/app.js
  src/js/components/spoilers.js
  src/js/helpers/bodyLockToggle.js
  src/js/helpers/uniqArray.js
  src/js/modules/customCursor.js
  src/js/modules/scroll/Watcher.js
  src/js/modules/webp.js
  src/js/script.js
  src/js/vendors/SimpleBar.js
  src/scss/abstracts/mixins.scss
  src/scss/vendors/simplebar.scss
  src/scss/vendors/swiper.scss
  src/scss/vendors/tippy.scss
Due: stylelint --fix, eslint --fix

update
  .ecrc
  config/gulp-tasks/html.js
  config/gulp-tasks/sprite.js
  config/settings/paths.js
  src/scss/abstracts/mixins.scss
  src/scss/base/reset.scss
  src/scss/pages/index.scss
  src/scss/utils/cursor.scss
Due: stylelint --fix

update
  .stylelintignore
  config/gulp-tasks/css.js
  config/gulp-tasks/fonts-tasks/fontFaceTemplate.js
  config/gulp-tasks/fonts-tasks/fontsStyles.js
  config/settings/paths.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  gulpfile.js
  package-lock.json
  package.json
  src/img/reviews/alexey-mozgunov.jpg
  src/js/app.js
  src/js/modules/colorScheme.js
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/layout/footer.scss
  src/scss/layout/grid.scss
  src/scss/layout/header.scss
  src/scss/pages/home.scss
  src/scss/style.scss
  src/scss/themes/dark-theme.scss
  src/scss/themes/index.scss
  src/scss/themes/theme-switch.scss
  src/scss/utils/fullscreen.scss
  src/scss/vendors/tippy.scss
  src/views/components/popup.pug
  src/views/components/preloader.pug
  src/views/data/projects.json
  src/views/data/reviews.json
  src/views/data/skills.json
  src/views/index.pug
  src/views/layout/footer.pug
  src/views/layout/header.pug
  src/views/layout/layout.pug
Due: stylelint --fix, eslint --fix

update
  .ecrc
  config/gulp-tasks/fonts-tasks/fontFaceTemplate.js
  config/gulp-tasks/fonts-tasks/fontsStyles.js
  gulpfile.js
  package.json
  src/js/vendors/tippy.js
  src/scss/base/typography.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/layout/header.scss
  src/scss/pages/home.scss
  src/scss/themes/theme-switch.scss
  src/scss/vendors/tippy.scss
  src/views/components/preloader.pug
  src/views/layout/header.pug
Due: stylelint --fix, eslint --fix

update
  src/scss/abstracts/mixins.scss
  src/scss/abstracts/variables.scss
  src/scss/base/root.scss
  src/scss/components/popup.scss
  src/scss/layout/header.scss
  src/scss/pages/home.scss
  src/scss/themes/theme-switch.scss
  src/scss/utils/container.scss
  src/scss/utils/fullscreen.scss
  src/views/index.pug
  src/views/layout/header.pug
Due: stylelint --fix

update
  package-lock.json
  package.json
  src/img/svg/github-actions.svg
  src/img/svg/json.svg
  src/img/svg/markdown.svg
  src/img/svg/remark.svg
  src/img/svg/semver.svg
  src/js/components/spoilers.js
  src/js/modules/addLoadedClass.js
  src/js/modules/addTouchClass.js
  src/js/modules/colorScheme.js
  src/js/modules/webp.js
  src/js/vendors/Swiper.js
  src/js/vendors/tippy.js
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/pages/home.scss
  src/scss/themes/theme-switch.scss
  src/scss/vendors/tippy.scss
  src/views/data/reviews.json
  src/views/data/skills.json
  src/views/index.pug
Due: stylelint --fix, eslint --fix

update
  README.md
Due: none

update
  src/img/svg/mocha.svg
  src/js/vendors/Typed.js
  src/js/vendors/marquee.js
  src/scss/base/reset.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/layout/header.scss
  src/scss/pages/404.scss
  src/scss/pages/home.scss
  src/scss/pages/index.scss
  src/scss/themes/theme-switch.scss
  src/scss/utils/bg-image.scss
  src/scss/utils/container.scss
  src/scss/utils/cursor.scss
  src/scss/utils/fullscreen.scss
  src/scss/utils/wrapper.scss
  src/scss/vendors/simplebar.scss
  src/scss/vendors/swiper.scss
  src/views/404.pug
  src/views/data/projects.json
  src/views/data/repos.json
  src/views/data/reviews.json
  src/views/data/skills.json
  src/views/data/spoilers.json
  src/views/index.pug
  src/views/layout/header.pug
  src/views/layout/layout.pug
Due: stylelint --fix, eslint --fix

update
  src/scss/abstracts/functions.scss
  src/scss/abstracts/mixins.scss
  src/scss/abstracts/variables.scss
  src/scss/base/font-face.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/components/forms/button.scss
  src/scss/components/logo.scss
  src/scss/components/popup.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/layout/footer.scss
  src/scss/layout/header.scss
  src/scss/pages/home.scss
  src/scss/themes/dark-theme.scss
  src/scss/themes/theme-switch.scss
  src/scss/utils/bg-overlay.scss
  src/scss/utils/container.scss
  src/scss/utils/cursor.scss
  src/scss/utils/fullscreen.scss
  src/scss/vendors/swiper.scss
  src/scss/vendors/tippy.scss
  src/views/data/reviews.json
  src/views/index.pug
  src/views/layout/layout.pug
Due: stylelint --fix

refactor: README.md
  README.md
Due: none
