Repository nikkeyl/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "src/scss/**/*.scss": "stylelint --fix",
  "src/js/**/*.js": "eslint --fix"
}

add: dependabot.yml
  .github/dependabot.yml
Due: none

refactor: Rename "disabled" to "ariaDisabled"
  src/views/json/projects.json
Due: none

refactor: Add tag p
  src/views/json/spoilers.json
Due: none

refactor: Add style guide
  src/scss/vendors/tippy.scss
Due: stylelint --fix

fix: FocusTrap
  src/js/components/Popup.js
Due: eslint --fix

refactor: Remove unused const
  src/js/helpers/nodeList.js
Due: eslint --fix

refactor: Rename [disabled] to [aria-disabled]
  src/js/script.js
Due: eslint --fix

add: Pseudo element 'selection'
  src/scss/base/reset.scss
Due: stylelint --fix

refactor: Remove text styles and change attr
  src/scss/components/project-card.scss
Due: stylelint --fix

refactor: Rename head to info, remove extra code
  src/scss/components/review.scss
Due: stylelint --fix

add: Typography styles
  src/scss/base/typography.scss
Due: stylelint --fix

refactor: Remove extra code
  src/scss/components/spoilers.scss
Due: stylelint --fix

add: Grid for cards
  src/scss/layout/grid.scss
Due: stylelint --fix

add: Import grid
  src/scss/layout/index.scss
Due: stylelint --fix

refactor: Remove extra code
  src/scss/pages/home.scss
Due: stylelint --fix

refactor: Clean up the code
  src/index.pug
Due: none

refactor: Remove unused modules
  src/js/app.js
  src/js/helpers/getHash.js
  src/js/helpers/removeClasses.js
  src/js/modules/colorScheme.js
Due: eslint --fix

fix: preventDefault
  src/js/script.js
Due: eslint --fix

refactor: Clean up the code
  src/js/components/Popup.js
  src/js/modules/scroll/pageNavigation.js
  src/js/vendors/marquee.js
Due: eslint --fix

refactor: Rename ariaDisabled to disabled
  src/views/json/projects.json
Due: none

refactor: Remoму unused scss modules
  src/scss/themes/dark-theme.scss
  src/scss/themes/default-theme.scss
  src/scss/themes/index.scss
  src/scss/themes/light-theme.scss
  src/scss/themes/theme-switch.scss
  src/scss/utils/effects.scss
  src/scss/utils/icons.scss
Due: stylelint --fix

refactor: Remove unused class
  src/views/layout/header.pug
Due: none

refactor: Clean up the code
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/layout/header.scss
  src/scss/pages/home.scss
  src/scss/style.scss
  src/scss/utils/index.scss
  src/scss/utils/placeholders.scss
  src/scss/utils/sr-only.scss
  src/scss/vendors/tippy.scss
Due: stylelint --fix

fix: preloader and clean up swiper.scss
  src/scss/vendors/swiper.scss
  src/views/components/preloader.pug
Due: stylelint --fix

add: .gitattributes
  .gitattributes
Due: none

Update README.md
  README.md
Due: none

add: .nvmrc
  .nvmrc
Due: none

refactor: Add .md files detect
  .gitattributes
Due: none

update: svg icons
  src/img/icons/sprite.svg
  src/img/sprites/buy.svg
  src/img/svg/babel.svg
  src/img/svg/bash.svg
  src/img/svg/bem.svg
  src/img/svg/browserslist.svg
  src/img/svg/css.svg
  src/img/svg/editor-config.svg
  src/img/svg/eslint.svg
  src/img/svg/figma.svg
  src/img/svg/git.svg
  src/img/svg/github-actions.svg
  src/img/svg/github.svg
  src/img/svg/gulp.svg
  src/img/svg/html.svg
  src/img/svg/js.svg
  src/img/svg/lighthouse.svg
  src/img/svg/markdown.svg
  src/img/svg/npm.svg
  src/img/svg/prettier.svg
  src/img/svg/pug.svg
  src/img/svg/remark.svg
  src/img/svg/scss.svg
  src/img/svg/semver.svg
  src/img/svg/stylelint.svg
  src/img/svg/svg.svg
  src/img/svg/svgo.svg
  src/img/svg/ts.svg
  src/img/svg/vscode.svg
  src/img/svg/w3c.svg
  src/img/svg/webpack.svg
  src/js/helpers/goToBlock.js
  src/js/modules/scroll/Watcher.js
  src/js/modules/scroll/pageNavigation.js
  src/js/vendors/Swiper.js
Due: eslint --fix

add: socials.json
  src/views/json/socials.json
Due: none

add: repos.json
  src/views/json/repos.json
Due: none

refactor: Add a11y
  src/views/json/skills.json
Due: none

add: socials.json and repos.json
  src/index.pug
  src/views/layout/header.pug
  src/views/layout/layout.pug
Due: none

fix: Marquee
  src/scss/pages/home.scss
Due: stylelint --fix

fix: Scale on focus
  src/scss/components/project-card.scss
Due: stylelint --fix

refactor: Add link to new repo
  src/views/json/repos.json
Due: none

fix: Focus
  src/scss/components/project-card.scss
Due: stylelint --fix
