Repository nikkeyl/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

update
  README.md
Due: none

fix(reset.scss): font-system-ui
  src/scss/base/root.scss
Due: stylelint --fix

fix: selection no xmas theme
  src/scss/base/reset.scss
Due: stylelint --fix

refactor(index.pug): resume text
  src/scss/abstracts/variables.scss
  src/scss/base/font-faces.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/pages/home/about-me.scss
  src/views/index.pug
Due: stylelint --fix

refactor: reset.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/views/index.pug
Due: stylelint --fix

refactor: styles
  src/scss/abstracts/functions.scss
  src/scss/abstracts/mixins.scss
  src/scss/base/reset.scss
  src/scss/base/typography.scss
  src/scss/components/button.scss
  src/scss/pages/404.scss
  src/scss/pages/home/hero.scss
  src/scss/utilities/placeholders.scss
  src/scss/vendors/tippy.scss
Due: stylelint --fix

update
  src/fonts/Pacifico-Regular.woff2
  src/img/svg/tools/gitkraken.svg
  src/js/components/spoilers.js
  src/js/modules/setEvent.js
  src/views/data/tools.json
Due: eslint --fix

update
  src/js/modules/colorScheme.js
  src/scss/themes/index.scss
  src/scss/themes/switcher.scss
  src/views/layout/header.pug
Due: stylelint --fix, eslint --fix

update
  src/scss/base/reset.scss
Due: stylelint --fix

update
  src/scss/abstracts/functions.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/base/typography.scss
  src/scss/pages/404.scss
  src/scss/pages/home/hero.scss
  src/scss/utilities/placeholders.scss
  src/views/index.pug
Due: stylelint --fix

Update README.md
  README.md
Due: none

fix: links to projects
  src/views/data/projects.json
Due: none

update
  src/img/svg/tools/cypress.svg
  src/views/data/tools.json
  src/views/index.pug
Due: none

update
  src/img/svg/tools/playwright.svg
  src/views/data/tools.json
Due: none

docs(readme): fix links to org
  README.md
Due: none

docs(readme): change name
  README.md
Due: none

docs(readme): add stats cards
  README.md
Due: none

update
  src/img/svg/tools/bootstrap.svg
  src/img/svg/tools/chatgpt.svg
  src/img/svg/tools/editorconfig.svg
  src/img/svg/tools/javascript.svg
  src/img/svg/tools/netlify.svg
  src/img/svg/tools/typescript.svg
  src/scss/abstracts/variables.scss
  src/scss/base/font-faces.scss
  src/scss/base/reset.scss
  src/scss/base/typography.scss
  src/scss/components/button.scss
  src/scss/components/review.scss
  src/scss/components/spoilers.scss
  src/scss/pages/404.scss
  src/scss/pages/home/about-me.scss
  src/scss/pages/home/hero.scss
  src/scss/pages/home/tools.scss
  src/scss/utilities/flex-align.scss
  src/scss/vendors/swiper.scss
  src/views/data/tools.json
Due: stylelint --fix

docs(readme): add icons
  README.md
Due: none

update
  src/img/svg/tools/rollup.svg
Due: none

update
  src/views/data/tools.json
Due: none

update
  .github/workflows/editorconfig.yml
  .husky/_/husky.sh
  .stylelintrc.json
  config/helpers/.csscomb.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/img/svg/tools/nvm.svg
  src/img/svg/tools/pnpm.svg
  src/views/data/tools.json
Due: none

update
  package.json
  pnpm-lock.yaml
Due: none

update
  .npmrc
Due: none

update
  .github/workflows/eslint.yml
  .github/workflows/markdown.yml
  .github/workflows/stylelint.yml
  package.json
  pnpm-lock.yaml
  src/scss/base/reset.scss
  src/scss/base/typography.scss
  src/scss/components/button.scss
  src/scss/components/project-card.scss
  src/scss/components/review.scss
  src/scss/components/socials.scss
  src/scss/components/spoilers.scss
  src/scss/layout/footer.scss
  src/scss/layout/header.scss
  src/scss/pages/404.scss
  src/scss/pages/home/hero.scss
  src/scss/pages/home/tools.scss
  src/scss/utilities/container.scss
  src/scss/utilities/flex-align.scss
  src/scss/utilities/flex-column.scss
  src/scss/utilities/fullscreen.scss
  src/scss/utilities/lock.scss
  src/scss/utilities/sr-only.scss
  src/scss/vendors/swiper.scss
Due: stylelint --fix

update
  src/img/svg/tools/commitlint.svg
  src/img/svg/tools/docker.svg
  src/img/svg/tools/esbuild.svg
  src/img/svg/tools/netlify.svg
  src/img/svg/tools/vercel.svg
  src/img/svg/tools/vitejs.svg
  src/scss/pages/home/tools.scss
  src/scss/utilities/wrapper.scss
  src/views/data/tools.json
Due: stylelint --fix

update
  src/img/svg/tools/nyc.svg
  src/views/data/tools.json
Due: none

update
  .ecrc
  package.json
Due: none

Update package.json
  package.json
Due: none

fix: stylelint
  config/webpack/plugins/linters.js
  config/webpack/webpack.prod.js
Due: none

feat(icon): `next.js`
  src/img/svg/tools/nextjs.svg
  src/views/data/tools.json
Due: none

feat(svg): `nextjs` icon
  src/img/svg/tools/nextjs.svg
Due: none

feat(svg): `nextjs` icon (#83)
  src/img/svg/tools/nextjs.svg
Due: none

fix(tools.json): add `studied`
  src/views/data/tools.json
Due: none

fix(tools.json): add `studied` (#84)
  src/views/data/tools.json
Due: none

feat(svg): `vitest`
  src/img/svg/tools/nyc.svg
  src/img/svg/tools/vitest.svg
  src/views/data/tools.json
Due: none

feat(svg): `vitest` (#85)
  src/img/svg/tools/nyc.svg
  src/img/svg/tools/vitest.svg
  src/views/data/tools.json
Due: none

feat: new profile image
  src/img/about/nikkeyl.jpg
Due: none

Path conditions:
  stylelint --fix: any of: src/scss/**/*.scss
  eslint --fix: any of: src/js/**/*.js
